.page{
  width: 100%;

}
.main{
  width: 90%;
  margin: 0 auto;
}
.p{
  font-size: 24px;
  text-align: center;
}

.img1{
/* width: 100%; */
display: flex;
justify-content: center;
/* align-items: center; */
}
.img{
  width: 60%;
  height: 677px;
  background-image: url("battle_hero.png");
  background-repeat: no-repeat;
  margin: 0 auto;

}
.pg{
  margin-right: -15;
  margin-left: -15;
  box-sizing: border-box;
}
.texts{
  background-image: url('c.png');
  /* width: 100%; */

}
.p1{
  font-size: 45px;
  font-family: arbutus-font;
  text-transform: capitalize;
  text-align: center;
  color: white;
  padding: 50px 0 1px 0;
height: 0;

}
.p2{
  font-size: 24px;
  text-align: center;
  color: white;
  padding-top: 75px;

}
.inp{
  width: 200px;
  height: 60px;
  background-color: #0F3353;
  color: white;
border: none;
font-size: 19px;
font-weight: bold;
  margin-bottom: 25px;
}
.inp1{
text-align: center;
  width: 100%;
}
.inp:hover{
  cursor: pointer;
}
/***********************************************/
.page1{
  width: 100%;
/*  border: 1px solid red;*/
}
.page2{
  display: flex;
  flex-direction: row;
  width: 65%;
  /*border: 1px solid red;*/
  margin: 0 auto;
}
.img_div{

}
#img2{
  width: 400px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('pr.png');
}
#inf{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.sp{
  font-size: 25px;
  font-weight:bold;
}

.pn{
  font-size: 18px;
  margin: 0
}
.select{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin-top: 0;
}
.sel1{
  margin-top: 0;
  line-height:2;

}
.spn{
  font-weight: bold;
}
.sel2{
  margin-top: 0;
  line-height:2;
}
.sel1 select{
  width: 270px;
  height: 40px;
  margin-right: 20px;
  font-size: 17px;
  font-weight: bold;
}
.sel2 input{
  width: 60px;
  height: 34px;
  font-size: 17px;
  text-align: center;
    font-weight: bold;
}
.but{
  margin-top: 10px;
}
.a{
  font-size:18px;
  color:#0F3353;
}
#hidimg{
  display:none;
  width: 100%;
  padding-top: 100px;
  background-color: black;
  /* opacity: 0.2; */
}
#hidimgin{
  width: 79%;
  height:1380px;
  /* border: 1px solid red; */
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('nutr_info.png');
}
#ic{
  color:white;
  margin-left:88%;
  font-size:30px;
}
#ic:hover{
  cursor: pointer;
  color: grey;
}

#price{
font-size: 17px;
    font-weight: bold;
    padding-top: 5px;
}
